@rendermode InteractiveServer

<div class="card has-background-grey-dark has-text-success-light p-2">
    <h4 class="card-title">@CurrentRecord.Title</h4>
    <p class="card-text">Record ID: @CurrentRecord.Id</p>
    <p class="card-text">Artist: @CurrentRecord.Artist</p>
    <p class="card-text">Genre: @CurrentRecord.Genre</p>
    <p class="card-text">Release Year: @CurrentRecord.ReleaseYear</p>
    <InputText @bind-Value="CurrentRecord.Title" placeholder="Title" />
    <InputText @bind-Value="CurrentRecord.Artist" placeholder="Artist" />
    <InputText @bind-Value="CurrentRecord.Genre" placeholder="Genre" />
    <InputNumber @bind-Value="CurrentRecord.ReleaseYear" placeholder="Release Year" />
    <button class="button p-1 pt-0 pb0" @onclick="UpdateCurrentRecord">Save Changes</button>
</div>

@code
{
    [Parameter] public Record CurrentRecord { get; set; }

    private async void UpdateCurrentRecord()
    {
        using (var httpClient = new HttpClient())
        {
            var response = await httpClient.PutAsJsonAsync($"https://localhost:7244/api/record", CurrentRecord);

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine("Record updated successfully!");
            }
            else
            {
                Console.WriteLine($"Failed to update record. Status code: {response.StatusCode}");
            }
        }
    }
}
