@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="card has-background-grey-dark has-text-success-light p-2">
    <h4 class="card-title has-text-weight-bold">@CurrentRecord.Title</h4>
    <p class="card-text">Artist: @CurrentRecord.Artist</p>
    <p class="card-text">Genre: @CurrentRecord.Genre</p>
    <p class="card-text mb-4">Release Year: @CurrentRecord.ReleaseYear</p>
    <iframe style="border-radius:12px" src="@CurrentRecord.SpotifyEmbed" width="100%" height="85" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>

@code
{
    [Parameter] public Record CurrentRecord { get; set; }
}