@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="card has-background-grey-dark has-text-success-light p-2">
    <h4 class="card-title">@CurrentRecord.Title</h4>
    <p class="card-text">Record ID: @CurrentRecord.Id</p>
    <p class="card-text">Artist: @CurrentRecord.Artist</p>
    <p class="card-text">Genre: @CurrentRecord.Genre</p>
    <p class="card-text">Release Year: @CurrentRecord.ReleaseYear</p>
</div>

@code
{
    [Parameter] public Record CurrentRecord { get; set; }
}